doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet', type = 'text/css', href='/Algorithm-Visualizer/frontpage.css')
header
  nav
    a.logo(href='#home')
      img(src='images.png', width='181.27px', height='52.98px')
    ul
      li
        a(href='#home') Home
      li
        a(href='#visualizer') Visualizer
      li
        a(href='#learn') Learn
      li
        a(href='#quiz') Take a quiz
      li
        a(href='#docu') Documentation
      li
        a#login(href='logins') login
main
  h1
    pre.
      Welcome to       
    span.a DSA
    span.b lgoViz
  p
    | DSAlgoViz is an algorithm visualizer that helps in visualizing algorithms for easy understanding the concepts of data structure algorithm.
  #start
    | Start Visualizing
