doctype html
head
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC', crossorigin='anonymous')
  link(rel='stylesheet', href='loginpagestyle.css')
  script(defer='', src='login.js')
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  link(href='https://fonts.googleapis.com/css2?family=Ropa+Sans:ital@0;1&display=swap', rel='stylesheet')
  link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Document
nav.navbar.navbar-expand-lg
  .container-fluid
    a.navbar-brand(href='#')
      img(src='/images/logo.png', alt='DSAlgoviz LOGO')
    ul.navbar-nav
      li.nav-item
        a.nav-link.active(aria-current='page', href='#') Home
      li.nav-item
        a.nav-link(href='#') Visualizer
      li.nav-item
        a.nav-link(href='#') Learn
      li.nav-item
        a.nav-link(href='#') Take a Quiz
      li.nav-item
        a.nav-link(href='#') Documentation
    form.d-flex(action='/register', method='POST')
      button.btn(type='submit') Login
main
  //
    <div id="login-error-msg-holder">
    <p id="login-error-msg">Invalid username <span id="error-msg-second-line">and/or password</span></p>
    </div>
  section.vh-100
    .container-fluid.h-custom
      .row.d-flex.justify-content-center.align-items-center.h-100
        .col-md-9.col-lg-6.col-xl-5
          img.img-fluid(src='./images/Key-rafiki.svg', alt='Sample image')
        .col-md-8.col-lg-6.col-xl-4.offset-xl-1
          form
            // Heading
            //
              <style>
              h1{text-decoration-color: #4B50B9;}
              h8{text-decoration-color: #4B50B9;}
              </style>
            .form-outline.mb-3
              h3(style='color:#4B50B9') Login to your account
              h8(style='color:gray') with your registered email
            // Email input
            .form-outline.mb-4
              input#form3Example3.form-control.form-control-lg(type='email', placeholder='Enter a valid email address')
              label.form-label(for='form3Example3') Email address
            // Password input
            .form-outline.mb-3
              input#form3Example4.form-control.form-control-lg(type='password', placeholder='Enter password')
              label.form-label(for='form3Example4') Password
            .d-flex.justify-content-between.align-items-center
              // Checkbox
              .form-check.mb-0
                input#form2Example3.form-check-input.me-2(type='checkbox', value='')
                label.form-check-label(for='form2Example3')
                  | Remember me
              a.text-body(href='#!') Forgot password?
            .text-center.text-lg-start.mt-4.pt-2
              button.btn.btn-lg(type='button', style='padding-left: 2.5rem; padding-right: 2.5rem; color: #eee; background-color: #4B50B9;') Login
              p.small.fw-bold.mt-2.pt-1.mb-0
                | Don&apos;t have an account? 
                a.link-success(href='#!') Register
    .d-flex.flex-column.flex-md-row.text-center.text-md-start.justify-content-between.py-4.px-4.px-xl-5.bg-
      // Copyright
      .mb-3.mb-md-0(style='color: #4B50B9;')
        | DSAlgoviz Copyright &copy; 2023. All rights reserved.
      // Copyright
